@use "../../../../styles/common";

.project-list-wrapper {
  @include common.eleFull;
  display: flex;
  user-select: none;

  > .app-list {
    width: 198px;
    box-shadow: 0 0 8px #888;
    display: flex;
    flex-direction: column;

    > .app-card-wrapper {
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;

      > .app-card {
        width: 100%;
        height: 68px;
        transition: all 0.3s;
        cursor: pointer;
        display: flex;

        &:hover,
        &.active {
          background-color: #ffcc99;
        }

        > .icon-wrapper {
          @include common.flex-center;
          width: 58px;
          height: 100%;
          overflow: hidden;

          > img {
            display: block;
            width: 38px;
            height: 38px;
          }
        }

        > .text-wrapper {
          flex-grow: 1;
          height: 100%;
          display: flex;
          flex-direction: column;

          > div {
            @include common.flex-text-overflow;
            flex: 1;

            &.title {
              align-items: flex-end;
              font-size: 18px;
              font-weight: bolder;
            }

            &.short-desc {
              font-size: 12px;
              color: #888;
              align-items: flex-start;
              padding-top: 8px;
            }
          }
        }
      }
    }

    > .operation-group {
      @include common.flex-center;
      height: 38px;
    }
  }

  > .app-content {
    flex-grow: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);

    > .header-content {
      width: 100%;
      display: flex;
      overflow: hidden;
      height: 88px;
      // background-color: #ffcc99;

      > .app-icon-wrapper {
        @include common.flex-center;
        height: 100%;
        width: 88px;
      }

      > .app-sample-info {
        flex-grow: 1;
        > div {
          @include common.flex-text-overflow;

          &.title {
            font-size: 18px;
            font-weight: bolder;
            padding-top: 18px;
          }

          &.create-time {
            font-size: 12px;
            color: #888;
          }

          &.short-desc {
            font-size: 14px;
            color: #888;
          }
        }
      }

      > .operation {
        @include common.flex-center;
        width: 38px;
        font-size: 18px;

        .btn {
          transform: rotate(90deg);
        }
      }
    }

    > .tabs-content {
      width: 100%;
      flex-grow: 1;
      overflow: hidden;
      // padding: 8px 8px 0 8px;
      > .t-tabs {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        > .t-tabs__content {
          flex-grow: 1;
          overflow-x: hidden;
          overflow-y: auto;
          padding: 8px;

          .app-details {
            > .fields {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
